* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.login_input {
  border: none;
  border-bottom: 2px solid #f3f6f7;
  background: #3bb8be;
}

.login_input:focus {
  outline: none;
  border: none;
  border-bottom: 4px solid #f3f6f7;
}